.App {
  text-align: center;
  background-color: tan;
}
#topimg {
  height: 50vh;
  width: 100%;
  background-image: url("/images/key-art.jpeg");
  background-color: tan;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 100%;
}
h1{
  margin: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
